@charset "UTF-8";

/* ---------------------------------------------------------------- */
/* ----- Start: 공통부분 ----- */
/* ---------------------------------------------------------------- */

/* ----- Start: 모든 요소 기본적용 ----- */	
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* ----- End: 모든 요소 기본적용 ----- */

/* ----- Start: .container ----- */	
/* 
			header
			
			footer
			
			.contents
				.sideBar
				#각 페이지 Main 범위 
*/ 
/* ----- End: .container ----- */	

/* ---------------------------------------------------------------- */

/* ----- Start: header ----- */
header {
	border: 1px solid #333;
	text-align: center;
}
/* ----- End: header ----- */

/* ---------------------------------------------------------------- */

/* ----- Start: footer ----- */
footer {
	border: 1px solid #333;
	text-align: center;
}		
/* ----- End: footer ----- */
	
/* ---------------------------------------------------------------- */		
	
/* ----- Start: .contents ----- */
.contents {
 	display: flex;
    justify-content: center;
    align-items: center;	 
}
/* ----- End: .contents ----- */	
	
/* ---------------------------------------------------------------- */	
	
/* ----- Start: .sideBar ----- */
.sideBar {
	background-color: powderblue;
	margin: 10px;
	position: fixed;
    left: 10px;
    top: 50%;
    transform: translate(0, -50%);
}		
.sideBar ul {
	text-align: center;
	margin: 0px;
	padding: 0px;
}
.sideBar ul li {
	margin: 10px 0px 10px 0px;
    line-height: 30px;
    height: 30px;
    width: 150px;
	list-style-type: none;
}		
.sideBar ul li a {
	text-decoration: none;
	color: #333;
}
.sideBar ul li a:hover {

}		
/* ----- End: .sideBar ----- */

/* ---------------------------------------------------------------- */
/* ----- End: 공통부분 ----- */
/* ---------------------------------------------------------------- */

/* ---------------------------------------------------------------- */
/* ----- Start: OHPhotoView.jsp ----- */
/* ---------------------------------------------------------------- */

/* ----- Start: #OHPhotoView-main ----- */
#OHPhotoView-main {
	position: relative;
	background-color: #f4e1f5;
}
/* ----- End: #OHPhotoView-main ----- */	

/* ----- Start: #OHPhotoView-main-1 ----- */
#OHPhotoView-main-1 {
	position: relative;
	text-align: center;
	background-color: darkcyan;
	height: 100px;
}
#OHPhotoView-title {
	position: absolute;
	top: 50%;
	left: 50%;
    transform: translate(-50%, -50%);  
	font-size: 50px;
    font-weight: bold;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    display: inline-block;
}
#OHPhotoView-toWriteButton {
    position: absolute;
    right: 0%;
    top: 50%;
    transform: translate(0, -50%);    
    width: 80px;
    height: 50px;
   	background-color: powderblue;
   	border: none;
    border-radius: 10px;
    margin-right: 10px;
}
/* ----- End: #OHPhotoView-main-1 ----- */


.OHPhotoViewflexContainer {
       display:flex;
       justify-content: center;
       align-content: center;
       flex-direction: row;
       flex-wrap: wrap;
       background-color:#adbbf7;
       border:1px solid #222;
}

.OHPhotoViewflexContainer .box {
	padding: 5px;
    margin: 5px;   
	width: 500px;
    height: 600px;
   	background-color: #f6f7ad;
}

.likeImage {
	color: #333;
	font-size:40px;
}

.likeImage.clickColor {
	color: #f72828;
}

.scrapImage {
	color: #333;
	font-size:40px;	
}

.scrapImage.clickColor {
	color: #4fc94f;
}

/* ---------------------------------------------------------------- */
/* ----- End: OHPhotoView.jsp ----- */
/* ---------------------------------------------------------------- */
/* ----- Start: OHPhotoDetailView.jsp ----- */
/* ---------------------------------------------------------------- */

/* ----- Start: #inputTextReply ----- */

/* ----- End: #inputTextReply ----- */

/* ---------------------------------------------------------------- */

/* Start: 댓글 출력 영역 */

#contentReply {
	display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 5px;
	padding: 5px;
}

.reply-container {
	box-sizing: border-box;
	border: solid 0px black;
	background-color: #d6d4d5;
	margin: 0px 0px 5px 0px;
	padding: 0px 0px 0px 0px;
	width: 700px;
	height: 100px;
	position: relative;	
}

.reply-profileImage {
	text-align: center;
	line-height: 30px;
	box-sizing: border-box;
	border: solid 0px black;
	background-color: #f593c4;
	margin: 0px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 30px;
	height: 30px;
	font-size: 3px;
	display: inline-block;
	position: absolute;
	top: 0px;
	bottom: auto;
	left: 0px;
	right: auto;	
}

.reply-userName {
	text-align: center;
	line-height: 30px;
	box-sizing: border-box;
	border: solid 0px black;
	background-color: #7af5f3;
	margin: 0px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 80px;
	height: 30px;
	font-size: 10px;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: auto;
	bottom: auto;
	left: 35px;
	right: auto;	
}

.reply-checkMyReply {
	text-align: center;
	line-height: 30px;
	box-sizing: border-box;        
	border: solid 0px black;
	background-color: #7df76f;
	margin: 0px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 60px;
	height: 30px;
	font-size: 10px;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: auto;
	bottom: auto;
	left: 120px;
	right: auto;	
}

.reply-content {
	text-align: center;
	line-height: 40px;
	box-sizing: border-box;         
	border: solid 0px black;
	background-color: #faed64;
	margin: 5px 0px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 690px;
	height: 40px;
	font-size: 10px;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 30px;
	bottom: auto;
	left: 5px;
	right: auto;	
}

.reply-writtenTime {
	text-align: center;
	line-height: 20px;
	box-sizing: border-box;         
	border: solid 0px black;
	background-color: #f28950;
	margin: 5px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 100px;
	height: 20px;
	font-size: 5px;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 75px;
	bottom: auto;
	left: 0px;
	right: auto;	
}

.reply-likeButton {
	text-align: center;
	line-height: 20px;
	box-sizing: border-box;         
	border: solid 0px black;
	background-color: #bef75c;
	margin: 5px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 20px;
	height: 20px;
	font-size: 3px;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 75px;
	bottom: auto;
	left: 105px;
	right: auto;	
}

.reply-likeHit {
	text-align: center;
	line-height: 20px;
	box-sizing: border-box;         
	border: solid 0px black;        
	background-color: #558ffa;
	margin: 5px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 40px;
	height: 20px;
	font-size: 3px;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 75px;
	bottom: auto;
	left: 130px;
	right: auto;  	
}

.reply-replyToReplyButton {
	text-align: center;
	line-height: 20px;
	box-sizing: border-box;         
	border: solid 0px black;
	background-color: #e36639;
	margin: 5px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 40px;
	height: 20px;
	font-size: 5px;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 75px;
	bottom: auto;
	left: 175px;
	right: auto;	
}

.reply-deleteOrComplaintButton {
	text-align: center;
	line-height: 20px;
	box-sizing: border-box;         
	border: solid 0px black;
	background-color: #b8f54e;
	margin: 5px 5px 0px 0px;
	padding: 0px 0px 0px 0px;
	width: 80px;
	height: 20px;
	font-size: 5px;
	text-align: center;
	display: inline-block;
	position: absolute;
	top: 75px;
	bottom: auto;
	left: 220px;
	right: auto;	
}

/* End: 댓글 출력 영역 */

/* ---------------------------------------------------------------- */
/* ----- End: OHPhotoDetailView.jsp ----- */
/* ---------------------------------------------------------------- */




